<div class="footer-wrapper">
    <ul class="socials">
        <li>
            <!-- TODO the href is active but the icon doesn't render -->
            <!-- <a href="https://github.com/Djani-Antova" class="github-page">
                <span class="octicon octicon-mark-github"></span>
              </a> -->

              
              
        </li>
    </ul>

    <ul class="other-info">
        <li>
            <!-- TODO add Terms of service -->
            <div class="footer-image">
                <a href="https://github.com/Djani-Antova"></a>
            </div>
            <a href="/tos" class="tos-footer">Terms of service</a>
        </li>
    </ul>

    <p class="copyright">
        Mystery LF &copy; Djani-Antova 2023
    </p>
</div>

