<div class="footer-wrapper">
    <ul class="socials">
        <li>
            <!-- TODO the href is active but the icon doesn't render -->
            <a href="https://github.com/Djani-Antova" class="github-page">
            
                <i class="fab fa-github" style="font-size:48px;color:#0088a9"></i>
            </a>
        </li>
    </ul>

    <ul class="other-info">
        <li>
            <!-- TODO add Terms of service -->
            <a href="/tos" class="tos-footer">Terms of service</a>
        </li>
    </ul>

    <p class="copyright">
        Mystery &copy; Djani-Antova 2023
    </p>
</div>

