<div class="nav-grid" *ngIf="isLoggedIn">
  <!-- TODO change the place of '!' in *ngIf (made is so only for testing purposes) -->
  <div class="nav-grid-wrapper-user">
    <div class="nav-home">
      <a routerLink="/home"></a>
    </div>
    <div class="nav-forum-page">
      <a routerLink="/posts">Forum</a>
    </div>
    <div class="nav-create-post">
      <a routerLink="/create-post">Create</a>
    </div>
    <div class="nav-greet-user">
      <span>Welcome, {{ userName }}!</span>
    </div>
    <div class="nav-account-page">
      <a routerLink="/profile"> {{ userName }}'s Account</a>
    </div>
    <div class="nav-logout">
      <button class="logout-button" (click)="logout()">Logout</button>
    </div>
  </div>
</div>

<div class="nav-grid" *ngIf="!isLoggedIn">
  <div class="nav-grid-wrapper-guest">
    <div class="nav-home">
      <a routerLink="/home"></a>
    </div>
    <div class="nav-forum-page">
      <a routerLink="/posts">Forum</a>
    </div>
    <div class="nav-greet-guest">
      <span>Greetings, Guest!</span>
    </div>

    <div class="nav-login-page">
      <a routerLink="/login">Login</a>
    </div>
    <div class="nav-register-page">
      <a routerLink="/register">Register</a>
    </div>
  </div>
</div>
