<!-- <div class="nav-grid">
    <div class="nav-grid-wrapper-user">
      <div class="nav-home">
        <a href="#">Home</a>
      </div>
      <div class="nav-forum-page">
        <a href="#">Forum</a>
      </div>
      <div class="nav-create-post">
        <a href="#">Create</a>
      </div>
      <div class="nav-greet-user">
        <span>Greeting</span>
      </div>
      <div class="nav-account-page">
        <a href="#">Account</a>
      </div>
      <div class="nav-logout">
        <button class="logout-button">Logout</button>
      </div>
    </div>
  </div> -->
  
  <div class="nav-grid">
    <div class="nav-grid-wrapper-guest">
        <!-- TODO ADD LOGO OR MENU -->
      <div class="nav-home">
        <a href="#">Home</a>
      </div>
      <div class="nav-forum-page">
        <a href="#">Forum</a>
      </div>
      <div class="nav-greet-guest">
        <span>Greeting for Guests</span>
      </div>
      
      <div class="nav-login-page">
        <a href="#">Login</a>
      </div>
      <div class="nav-register-page">
        <a href="#">Register</a>
      </div>
    </div>
  </div>

  

