
<!-- comments.component.html -->
<div class="wrapper-background-body">
  
  <div class="wrapper">
    <div class="grid-wrapper">
      <!-- <div class="current-thread-title">Current Title</div> -->
      
      <div class="thread-description">Post </div>
      <!-- <div *ngIf="thereAreNoComments">
        <h3 class="thread-description">There are no comments</h3>
      </div> -->
      
    </div>

    <div *ngFor="let comment of commentList"  class="grid-wrapper-comment">
      <div class="grid-comments">
   
        <div class="user-comment-text">{{comment.text}}</div>
        <div class="user-comment-text"></div>        
        <div class="user-comment-name">{{comment.author}}</div>
        <div class="user-comment-date">{{comment.postDate}}</div>
      </div>

    </div>
  </div>
  
</div>


    