

<!-- comments.component.html -->
<div class="wrapper-background-body">
  
  <div class="wrapper">
    <div class="grid-wrapper">
      <div class="current-thread-title">Current Title</div>
     
      <div class="thread-description">Post </div>
    </div>

    <div class="grid-wrapper-comments">
      <div class="grid-comments">
   
        <div class="user-thread-name">staticUserName</div>
        <div class="user-comment-name">aaaa</div>
        <div class="user-comment-text">hihihihi</div>        
      </div>

    </div>
  </div>
  
</div>

    