/* You can add global styles to this file, and also import other style files */

/*
*Removes all default whitespace
*/

/* * {
  padding: 0;
  margin: 0;
} */

/*
*Reset CSS model sizing calculations
*/



*, *:before, *:after {
  box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
  }
  
body {
    background-color: #333333;
    position: relative;
    min-height: 100%;
    box-sizing: inherit;
    margin: auto;
    padding-bottom: 2rem;
  }

  /* Responsiveness */
  @media (min-width: 800px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1280px) {
    html {
        font-size: 18px;
    }
}

  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
