<div class="home-background"></div>

<div class="home-welcome">
    <h1 class="home-info"> Welcome to Mystery Forum Lovers, the best hub for sharing gripping stories!</h1>
    
    <h2 class="home-info">Immerse yourself in a world of captivating narratives, where you can recommend
        page-turning <br/> books  or heart-pounding films that have left an indelible mark on you. 
        <br />
    
    </h2>
    <div class="forum-rules">
            <!--  TODO create link to='/tos' class='tos-link'>Terms of service  -->

        <p>Ensure a respectful and enjoyable experience for all and adhere to our <span>Terms of Service.</span></p>  
    </div>
</div>

