<div class="home-background"></div>

<div class="home-welcome">
    <h1 class="home-info"> Mystery Lovers Forum</h1>
    
    <h2 class="home-info">The best hub for sharing gripping stories! Immerse in 
        page-turning books <br/> or heart-pounding films that have left an indelible mark on you. 
        <br />
    
    </h2>
    <div class="forum-rules">
            <!--  TODO create link to='/tos' class='tos-link'>Terms of service  -->

        <p>Ensure a respectful and enjoyable experience for all and adhere to our <a href="/tos" class="tos-footer"><span>Terms of service</span></a></p>  
    </div>
</div>

