<p>theme-add works!</p>
<div class="create-body">
    <div class="create-post-container">
      <div>
        <h1 class="create-post-title">Create new post</h1>
      </div>
  
      <div class="post-title">
        <label class="post-title-label" for="post-title">Post title:</label>
  
        <input
          value="Sample Thread Title"
          class="post-title-input"
          type="text"
          name="title"
          id="title"
          placeholder="Enter thread title..."
        />
      </div>
  
      <div class="post-comment">
        <label class="post-comment-label" for="post-comment">Description:</label>
  
        <textarea
          class="post-comment-input"
          name="description"
          id="comment"
          cols="30"
          rows="10"
          placeholder="Set thread description..."
        >This is a sample description for the thread.</textarea>
      </div>
  
      <input type="submit" class="btn-submit" value="Submit" />
    </div>
  </div>
  
