.tos-background {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwP5SGHfipAk0Upp8wEtRJube0hjemEms15A&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  
  .forum-tos-rules {
    position: relative;
    left: 35%;
    color: #ecf0f1;
  }